/* ========== 공통 색상 변수 (옵션) ========== */
:root {
  --primary: #3B6CFF;
  --primary-soft: #E9F0FF;
  --text: #111;
  --mute: #6c757d;
}

/* 페이지네이션 */
.pagination-block .page-link {
  color: #333333 !important; /* 글자색 검은색 */
}
.pagination-block .page-item.active .page-link {
  background-color: #3b6cff;
  border-color: #3b6cff;
  color: white !important;
  font-weight: 600;
}