.board-item-hover:hover {
  background-color: #f1f5ff !important;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.nav-tabs .nav-link.active {
  color: #2563eb !important;
  border-bottom: 3px solid #2563eb !important;
  background: transparent !important;
}

.badge.bg-primary-soft {
  background-color: #e0ebff;
  color: #2563eb;
}
